# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# Dotenv file
.env
.env.mainnet
.env.testnet
.env.rinkeby
.env.goerli

.env.*

broadcast/**/*